@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #030014;
}

.header {
  padding: 0 20px;
  -webkit-backdrop-filter: blur(16px);
  /* backdrop-filter: blur(16px); */
  background: rgba(3,0,20,.08);
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
