@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.font-dela {
  font-family: "Dela Gothic One", cursive;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; */
}

.font-reospec {
  font-family: "Reospec", cursive;
}

.text-gradient {
  outline: none;
  background: linear-gradient(
    135deg,
    #c78d34 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #c78d34 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  to {
    background-position: 400%;
  }
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-dune-rise {
  font-family: "Dune Rise", cursive;
}

@font-face {
  font-family: "Dune Rise";
  src: url("./fonts/Dune_Rise.otf");
}

@font-face {
  font-family: "Reospec";
  src: url("https://cdn.jsdelivr.net/gh/Reospec/Reospec-Font/Reospec-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("https://cdn.jsdelivr.net/gh/Reospec/Reospec-Font/Montserrat-Regular.ttf");
}

.parallax-effect-glare-scale {
  transform-style: preserve-3d;
}

.parallax-effect-glare-scale .inner-element {
  transform: translateZ(60px);
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: rgb(255, 255, 255, 0.5);
  transition: all 0ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.glare {
  background: rgb(128 128 128 / 0.2);
  transition: all 10ms ease-in-out;
}

/* CSS for the flip card */

.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  /* Back side styles */
  transform: rotateY(180deg);
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the content on the back side */
.back-content {
  text-align: center;
}

/* Style for the spin button */
.spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.spin-button:hover {
  background-color: #0056b3;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #c78d34;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  background: linear-gradient(53deg, #e73c7e, #23a6d5);
  background-size: 200% 200%;

  -webkit-animation: gradient 4s ease infinite;
  -moz-animation: gradient 4s ease infinite;
  animation: gradient 4s ease infinite;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -20px;
  bottom: 38px;
  transform: rotate(45deg);
}

.ribbon span:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 3s infinite linear; /* Animation */
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.flair-logo:hover {
  filter: drop-shadow(5px 8px 9px #c78d34);
}
