@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.font-dela {
  font-family: "Dela Gothic One", cursive;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; */
}

.font-reospec {
  font-family: "Reospec", cursive;
}

.text-gradient {
  outline: none;
  background: linear-gradient(
    135deg,
    #c78d34 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #c78d34 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  to {
    background-position: 400%;
  }
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-dune-rise {
  font-family: "Dune Rise", cursive;
}

@font-face {
  font-family: "Dune Rise";
  src: url("https://cdn.jsdelivr.net/gh/Reospec/Reospec-Font/DuneRise.ttf");
}

@font-face {
  font-family: "Reospec";
  src: url("https://cdn.jsdelivr.net/gh/Reospec/Reospec-Font/Reospec-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("https://cdn.jsdelivr.net/gh/Reospec/Reospec-Font/Montserrat-Regular.ttf");
}

.parallax-effect-glare-scale {
  transform-style: preserve-3d;
}

.parallax-effect-glare-scale .inner-element {
  transform: translateZ(60px);
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: rgb(255, 255, 255, 0.5);
  transition: all 0ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.glare {
  background: rgb(128 128 128 / 0.2);
  transition: all 10ms ease-in-out;
}
