@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.rando-text {
  font-family: "Major Mono Display", monospace;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}
